<html>
    <head>
        <title>Get HTML</title>
    </head>
<body>

<h1>Enter URL for HTML</h1>

<form action="/" method="POST">
    Enter URL: <input type="text" name="post[urlRE]">
    <br/>
    <input type="submit">
</form>

</body>
</html>