<html>
     <head>
        <title>HTML Returned</title>
    </head>
    <body>
        <h1>Enter URL for HTML</h1>
        <form action="/" method="POST">
            Enter URL: <input type="text" name="post[urlRE]">
            <br/>
            <input type="submit">
        </form>
        <%= content %>
    </body>
</html>